# ============================================================
# FluxNet 模块配置
# 修改后重启服务生效
# ============================================================

# ---------- 路径 ----------
# ! 不要更改此选项 !
flux_data="/data/adb/fluxnet"
# 可加载自定义 sing-box / atp
sing_box_bin_path="${flux_data}/bin/sing-box"
atp_bin_path="${flux_data}/bin/atp"

# ---------- 内核渠道 ----------
# delusions6515-pre / delusions6515-stable / ref1nd-pre / ref1nd-stable
# official-stable / official-pre
kernel_channel="delusions6515-pre"
kernel_abi="arm64-v8a"

# ---------- 代理模式 ----------
# tun / tproxy / redirect / ebpf
proxy_mode="tun"

# ---------- Tun 模式选项 ----------
# tun stack: system / gvisor / mixed
# tun auto_redirect: 0=关闭, 1=开启
# tun_forward: 0=关闭, 1=开启; 热点共享，开启后通过 FORWARD + ip rules 让热点设备走代理
tun_stack="gvisor"
auto_redirect=0
tun_forward=0

# ---------- 开机自启 ----------
# 1=开机自启, 0=手动启动
autostart=1

# ---------- 分应用代理 ----------
app_proxy_enable=0
app_proxy_mode="blacklist"
# 分应用代理包名列表，只支持包名，格式:
# "com.expamle.app io.github.example.app xxx.xxxx.xxx"
# whitelist 使用 proxy_apps_list，blacklist 使用 bypass_apps_list。
# force_{bypass|proxy}_app.txt 格式：一行一个包名
# force_bypass_app.txt 中的包名会剔除出 proxy_apps_list
# force_proxy_app.txt 中的包名会剔除出 bypass_apps_list
proxy_apps_list=""
bypass_apps_list=""
# 使用 v2rayNG 的代理应用名单自动生成绕过/代理名单
# ! 个人仅建议 whitelist 模式使用 !
auto_proxy_apps_enable=0
